{% extends "layout.html" %}

{% block title %}Add a friend{% endblock %}

{% block main %}
    <form id="search-form" method="post">
        <input autofocus name="q" type="email" placeholder="Enter their Email">
        <button type="submit">Search</button>
    
    </form>
        <ul id="userslist" name="user"></ul>

    <script>
        document.getElementById('search-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            let input = document.querySelector('input[name="q"]');
            let ul = document.querySelector('#userslist');

            try {
                let response = await fetch('/search?q=' + encodeURIComponent(input.value));
                
                if (!response.ok) {
                    throw new Error('Friend not found');
                }

                let friend = await response.json();

                let firstName = friend[0]['first_name'];
                let lastName = friend[0]['last_name'];
                let id = friend[0]['id'];
                let html = `<li style="list-style-type: none"> 
                                <form action="/addfriend" method="post">
                                    <input name ="id" value=${id} hidden>${firstName} ${lastName}
                                    <button type="submit">Add Friend</button>
                                </form>
                             </li>`;

                ul.innerHTML = html;
            } catch (error) {
                ul.innerHTML = '<li style="list-style-type: none">' + error.message + '</li>';
            }
        });
    </script>
{% endblock %}