{% extends "layout.html" %}

{% block title %}Add a friend{% endblock %}

{% block main %}
    <form id="search-form">
        <input autofocus name="q" type="email" placeholder="Enter their Email">
        <button type="submit">Search</button>
    </form>
    
    <ul id="userslist"></ul>

    <script>
        document.getElementById('search-form').addEventListener('submit', async function(event) {
            event.preventDefault();  // Prevent the form from submitting traditionally

            let input = document.querySelector('input[name="q"]');
            let ul = document.querySelector('#userslist');

            try {
                let response = await fetch('/search?q=' + encodeURIComponent(input.value));
                
                if (!response.ok) {
                    throw new Error('Friend not found');
                }

                let friend = await response.json();

                let firstName = friend[0]['first_name'];
                let lastName = friend[0]['last_name'];
                let html = '<li style="list-style-type: none">' + firstName + ' ' + lastName + '</li>';

                ul.innerHTML = html;
            } catch (error) {
                ul.innerHTML = '<li>' + error.message + '</li>';
            }
        });
    </script>
{% endblock %}