{% extends "layout.html" %}

{% block title %}Add a friend{% endblock %}

{% block main %}
    
    <input autofocus name="email" type="email" placeholder="Enter their Email">
    <button type="button">Search</button>
    
    <ul></ul>

    <script>
        let input = document.querySelector('input');
        let button = document.querySelector('button')

        button.addEventListener('input', async function() {

            let response = await fetch('/search?q=' + input.value);
            let friend = await reponse.json();

            firstName = friend['first_name']
            lastName = friend['last_name']

            html = '<li>' + firstName + lastName + '</li>'
            
            document.querySelector('ul').innerHTML = html;
        })
    </script>
{% endblock %}