{% extends "layout.html" %}

{% block title %}Leaderboard{% endblock %}

{% block main %}   
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- loop counter: loop.index -->
            {% for user in leaders %}
                <tr>
                    <td>{{loop.index}}</td> 
                    <td>{{user.last_name}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.score}}</td>
                </tr>
            {% endfor%}
        </tbody>    
    </table>
{% endblock %}